/local/
/ionic/
/redis/
/files/*
*.pyc
/db
*.log
*.pdf
*.aux
*.out
api-keys.env
/scripts/raw_data.txt

/shelf/
/workspace.xml
/dataSources/
/dataSources.local.xml
/httpRequests/
.idea
/ionic/editor/android
/ionic/editor/ios
node_modules
